{% extends "base.html" %}

{% block title %}IT-4320 Trip Reservation System{% endblock %}

{% block content %}
<div>
    <h1 style="text-align: center;">IT-4320 Trip Reservation System</h1>
    <hr>
    
    <p>Welcome to the IT-4320 reservation system. Use the select box to choose whether to make a reservation or log in as administrator.</p>
    
    <form action="{{ url_for('index') }}" method="post">
        <div class="form-group">
            <label for="menuOption">Choose Menu Option:</label>
            <select class="form-control" id="menuOption" name="menuOption">
                <option selected disabled>Choose an Option</option>
                <option value="admin">Admin Login</option>
                <option value="reserve">Reserve a Seat</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}